

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black; /* Set the background to black */
  color: white; /* Optional: change text color to white for contrast */
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%; /* Ensure the App takes up the full height */
  width: 100%; /* Make sure it takes up the full width */
  background-image: url("../src/pages/components/images/background-1.webp");
  background-size: cover;
}

.main {
  width: 100%;
  margin: 0 auto;
  background-color: #515050;
  height: 1000px;
}
@media (min-width: 768px) {
  .main {
    
  }
}


nav {
  background: #333;
  color: white;
  padding: 1rem;
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

div {
  padding: 2rem;
}


